/* Variables */
$zero: 0px;
$primary-color: green;
$secondary-color: red;
$text-color: lightgrey;
$header-padding: 20px;
$button-padding: 10px;
$button-radius: 5px;
$button-cursor: pointer;
$content-height: 85vh;
$table-width: 100vh;
$table-padding: 3px;
$table-border: 1px solid black;
$footer-padding: 20px;

/* Styling reset for whole site */
* {
  border: $zero;
  margin: $zero;
  padding: $zero;
}

/* Whole body styling */
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* Styling for header */
header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid $text-color;
}

header > h1 {
  padding: $header-padding;
}

/* Styling for header buttons "ADD", "MASS DELETE" */
.add-delete-button {
  display: flex;
  list-style: none;
}

#add-product-btn, #delete-product-btn {
  border-radius: $button-radius;
  color: white;
  padding: $button-padding;
  cursor: $button-cursor;
}

#add-product-btn {
  background-color: $primary-color;
}

.add-product-button-wrapper {
  padding: 20px 5px 20px 20px;
}

#delete-product-btn {
  background-color: $secondary-color;
}

.delete-product-button-wrapper {
  padding: 20px 20px 20px 0px;
}

/* Content styling */
.content {
  flex: 1 0 auto;
  height: $content-height;
}

/* Styling for table */
table {
  margin: auto;
  width: $table-width;
  table-layout: fixed;
  border-collapse: collapse;
}

td {
  width: 33.33%;
}

#table-data {
  padding: $table-padding;
  display: flex;
  width: 100%;
  justify-content: center;
}

#table-data:last-child {
  padding-bottom: 40px;
}

#table-row {
  margin: 10px;
  border: $table-border;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

#table-check {
  padding: 10px;
}

table {
  display: flex;
  margin-left: 6.5%;
  flex-flow: row wrap;
  width: 100%;
  height: auto;
}

/* Styling for footer */
footer {
  flex-shrink: 0;
  padding: $footer-padding;
  border-top: 2px solid $text-color;
  text-align: center;
}

footer > h3 {
  font-weight: lighter;
}

/* Grid container */
#grid_container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
