/* Variables */
$primary-color: green;
$secondary-color: red;
$text-color: lightgrey;
$input-border: 1px solid $text-color;
$input-font-size: 30px;
$input-height: 40px;
$input-margin-left: 65px;
$input-padding: 10px;
$header-padding: 20px;
$footer-padding: 20px;

/* Styling reset for whole site */
* {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Whole body styling */
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* Styling for header */
header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid $text-color;
}

header > h1 {
  padding: $header-padding;
}

/* Styling for header buttons "ADD", "MASS DELETE" */
.add-delete-button {
  display: flex;
  list-style: none;
}

#add-product-btn, #delete-product-btn {
  border-radius: 5px;
  color: white;
  padding: 10px;
  cursor: pointer;
}

#add-product-btn {
  background-color: $primary-color;
}

.add-product-button-wrapper {
  padding: 20px 5px 20px 20px;
}

#delete-product-btn {
  background-color: $secondary-color;
}

.delete-product-button-wrapper {
  padding: 20px 20px 20px 0px;
}

/* Content styling */
.content {
  flex: 1 0 auto;
}

/* Input form styling */
div > input {
  display: flex;
  flex-flow: row wrap;
}

#product_form {
  margin-top: 50px;

  > div {
    white-space: nowrap;
    padding: $input-padding 0;
    display: flex;
    align-items: center;
    font-size: 19px;

    input {
      font-size: $input-font-size;
      height: $input-height;
      border: $input-border;
    }
  }

  .options {
    display: none;
  }
}

#product_form > div:nth-child(1) > input {
  margin-left: $input-margin-left;
}

#product_form > div:nth-child(2) > input {
  margin-left: $input-margin-left;
}

#product_form > div:nth-child(3) > input {
  margin-left: calc($input-margin-left / 2);
}

/* Type switcher styling */
#type-switcher {
  font-size: 19px;
}

#productType {
  margin-left: 20px;
  border: $input-border;
  font-size: $input-font-size;
  height: $input-height;
}

/* Type styling */

#dvd_input_field, #furniture_input_field_0, #furniture_input_field_1, #furniture_input_field_2, #book_input_field {
  display: flex;
  align-items: center;
  font-size: 19px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#dvd_input_field > input, #furniture_input_field_0 > input, #furniture_input_field_1 > input, #furniture_input_field_2 > input, #book_input_field > input {
  font-size: $input-font-size;
  border: $input-border;
  margin-left: $input-margin-left;
}

#furniture_input_field_1 > input {
  margin-left: $input-margin-left + 5;
}

#furniture_input_field_2 > input {
  margin-bottom: 20px;
}

/* Styling for footer */
footer {
  flex-shrink: 0;
  padding: $footer-padding;
  border-top: 2px solid $text-color;
  text-align: center;
}

footer > h3 {
  font-weight: lighter;
}/* Variables */
$primary-color: green;
$secondary-color: red;
$text-color: lightgrey;
$input-border: 1px solid $text-color;
$input-font-size: 30px;
$input-height: 40px;
$input-margin-left: 65px;
$input-padding: 10px;
$header-padding: 20px;
$footer-padding: 20px;

/* Styling reset for whole site */
* {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Whole body styling */
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* Styling for header */
header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid $text-color;
}

header > h1 {
  padding: $header-padding;
}

/* Styling for header buttons "ADD", "MASS DELETE" */
.add-delete-button {
  display: flex;
  list-style: none;
}

#add-product-btn, #delete-product-btn {
  border-radius: 5px;
  color: white;
  padding: 10px;
  cursor: pointer;
}

#add-product-btn {
  background-color: $primary-color;
}

.add-product-button-wrapper {
  padding: 20px 5px 20px 20px;
}

#delete-product-btn {
  background-color: $secondary-color;
}

.delete-product-button-wrapper {
  padding: 20px 20px 20px 0px;
}

/* Content styling */
.content {
  flex: 1 0 auto;
}

/* Input form styling */
div > input {
  display: flex;
  flex-flow: row wrap;
}

#product_form {
  margin-top: 50px;

  > div {
    white-space: nowrap;
    padding: $input-padding 0;
    display: flex;
    align-items: center;
    font-size: 19px;

    input {
      font-size: $input-font-size;
      height: $input-height;
      border: $input-border;
    }
  }

  .options {
    display: none;
  }
}

#product_form > div:nth-child(1) > input {
  margin-left: $input-margin-left;
}

#product_form > div:nth-child(2) > input {
  margin-left: $input-margin-left;
}

#product_form > div:nth-child(3) > input {
  margin-left: calc($input-margin-left / 2);
}

/* Type switcher styling */
#type-switcher {
  font-size: 19px;
}

#productType {
  margin-left: 20px;
  border: $input-border;
  font-size: $input-font-size;
  height: $input-height;
}

/* Type styling */

#dvd_input_field, #furniture_input_field_0, #furniture_input_field_1, #furniture_input_field_2, #book_input_field {
  display: flex;
  align-items: center;
  font-size: 19px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#dvd_input_field > input, #furniture_input_field_0 > input, #furniture_input_field_1 > input, #furniture_input_field_2 > input, #book_input_field > input {
  font-size: $input-font-size;
  border: $input-border;
  margin-left: $input-margin-left;
}

#furniture_input_field_1 > input {
  margin-left: $input-margin-left + 5;
}

#furniture_input_field_2 > input {
  margin-bottom: 20px;
}

/* Styling for footer */
footer {
  flex-shrink: 0;
  padding: $footer-padding;
  border-top: 2px solid $text-color;
  text-align: center;
}

footer > h3 {
  font-weight: lighter;
}
